* {
    margin: 0;
    padding: 0;
}

body {
    background-color: '#ededed';
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: black
}

.react-pdf__Page__canvas {
    width: 100% !important;
    height: auto !important;
}

.sidenav---sidenav---_2tBP {
    position: fixed !important;
}

.topbar a {
    color: #fff;
}
.tox-notifications-container, .tox-statusbar__branding{
    display: none;
}